MPEG7/w15127SW/xmsrc/SystemTools/TextualAccessUnits/Decoder/Sample_InputFiles/e02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema"
        xmlns:v1="version1"
        xmlns:v2="version2"        
        targetNamespace="version2">
 
		<!-- import of the version1 schema -->
		<import namespace="version1" schemaLocation="e01.xsd"/>
	
	<!-- extension du type simple -->
	<complexType name="ExempleTypeV2">
		<complexContent>
	 		<extension base="v1:ExempleType">
	 			<attribute name="a2" type="unsignedShort"/>
	 		</extension> 
		</complexContent>
	 </complexType>

	<!-- extension du type complexe -->
	<complexType name="EExempleTypeV2">
		<complexContent>
			<extension base="v1:EExempleType">
				<sequence>
					<element name="ext" type="integer"/>
				</sequence>
			</extension> 
		</complexContent>
	</complexType>  
	
</schema>